.jumbotron {
    border-radius: 0px !important;
    background-color: #35d2ad;
}
.heading {
    margin: 0;
    color: #fff !important;
    font-family: 'Bowlby One', cursive;
}
.shortHr {
    width: 100px;
    border-bottom: 2px solid #fff;
}

i {
    padding-top: 5px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
}

#showComment {
  margin-top: 15px;
}
